@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  position: relative;
}


@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

/* Remove number input arrows for all browsers */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

